
@{
    ViewData["Title"] = "AddCollectionSol";
}

@using CloudJ.Contracts.DTOs.CollectionDtos

@model CloudJ.Client.Models.CollectionSolModel

    <form method="post" asp-controller="Collection" asp-action="AddCollectionSol">

        <fieldset>
            <input asp-for="CollectionId" hidden="true" value="@Model.CollectionId" />
            <div class="form-group">
                <label for="exampleInputEmail1">Id решения</label>
                <input asp-for="SolutionId" type="number" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Введите id решения">
            </div>

            <button type="submit" class="btn btn-primary rounded-0" style="width: 100%;">Добавить</button>


        </fieldset>


    </form>

    <table>

        <colgroup>
            <col span="2">
            <col>
        </colgroup>
        <tr>
            <th>Название</th>
            <th>Id</th>

        </tr>
        @foreach (TruncSolutionDto s in ViewBag.Solutions)
        {
        <tr>
            <td>@s.SolutionId</td>
            <td>@s.SolutionId</td>
        </tr>
        }
        
    </table>
