@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="InitializeDatabase" asp-controller="Home">Initialize database</a>
</div>


