
@{
    ViewData["Title"] = "AdminPanel";
}
    
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="block">
                <a href="~/Product/addCategory" id="admin-button">Рекдактирование категорий</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="block">
                <a href="~/Collection/collectionEdit" id="admin-button">База коллекций</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="block">
                <a href="~/userdb" id="admin-button">База объявлений</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="block">
                <a href="~/transaction" id="admin-button">Транзакции</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 stat">
            <p>Статистика сайта</p>
        </div>
    </div>
    <div class="row">
        <div class="chart col-xl-6 col-lg-6 col-md-12 col-sm-12" id="curve_chart">
            <script type="text/javascript">
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        let date;
                        let visits_num;
                        var data = google.visualization.arrayToDataTable([
                            ['Дата', 'Посещения сайта'],
                            ['28.11', 100],
                            ['28.11', 150],
                            ['28.11', 200],
                            ['28.11', 100]
                        ]);

                        var options = {
                            title: 'Посещение сайта',
                            curveType: 'function',
                            legend: { position: 'bottom' }
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                        chart.draw(data, options);
                    }
            </script>
        </div>

        <div class="chart col-xl-6 col-lg-6 col-md-12 col-sm-12" id="curve_chart_2">
            <script type="text/javascript">
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        let date;
                        let views_num;
                        var data = google.visualization.arrayToDataTable([
                            ['Дата', 'Просмотры объявлений'],
                            ['28.11', 100],
                            ['28.11', 150],
                            ['28.11', 200],
                            ['28.11', 100]
                        ]);

                        var options = {
                            title: 'Посещение размещенных решений',
                            curveType: 'function',
                            legend: { position: 'bottom' }
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_2'));

                        chart.draw(data, options);
                    }
            </script>
        </div>
    </div>
</div>

