
@{
    ViewData["Title"] = "Collection";
}

    <section class="intro intro__marg">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    <h1>Коллекции</h1>
                </div>
                <div class="col-lg-9 d-flex align-items-center collections__p">
                    Для вашего удобства команда CloudJ составляет полезные подборки с
                    решениями
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="#"><img src="~/img/collections1.png" alt="collections1" class="margin__top30px"></a>
                    <a href="#"><img src="~/img/collections2.png" alt="collections2" class="margin__top30px"></a>
                </div>
                <div class="col-lg-6">
                    <a href="#"><img src="~/img/collections2.png" alt="collections2" class="margin__top30px"></a>
                    <a href="#"><img src="~/img/collections1.png" alt="collections1" class="margin__top30px"></a>

                </div>
            </div>
        </div>
    </section>

