@{
    ViewData["Title"] = "Home Page";
}

@using CloudJ.Contracts.DTOs.SolutionDtos.Category

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        @foreach (CategoryDto c in ViewBag.Categories)
        {
            <h1 class="display-4">@c.Name</h1>
        }
    </div>

