
@{
    Layout = null;
}

@{

    string Name = User.Claims?.Where(x => x.Type.Equals("name")).FirstOrDefault()?.Value ?? "";
    string Role = User.Claims?.Where(x => x.Type.Contains("role")).FirstOrDefault()?.Value ?? "";
    bool IsAuthenticated = Context.User.Identity.IsAuthenticated;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudJ.Client</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="css/credit.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
    <script src="~/js/credit.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Source+Code+Pro:300,400,600" rel="stylesheet">


</head>

<body>
    
    <header id="header" class="header bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-2">
                    <img src="~/img/logo.png" alt="cloudj" class="logo">
                </div>
                <div class="col-lg-10 ml-auto">
                    <nav>
                        <ul class="menu d-flex justify-content-center">
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="Index">Обзор</a>
                            </li>
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="Category">Категории</a>
                            </li>
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="MarketPlace">MarketPlace</a>
                            </li>
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="Support">Поддержка</a>
                            </li>
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="Collection">Коллекции</a>
                            </li>
                            @if (IsAuthenticated)
                            {
                                <div class="col-lg-4 ml-auto">
                                    <nav>
                                        <ul class="menu d-flex">
                                            <li class="menu__item"></li>

                                            <li class="menu__item dropdown">
                                                <a class="dropdown-toggler" data-toggle="dropdown" href="#" role="button"
                                                   aria-haspopup="true" aria-expanded="false">@Name</a>
                                                <div class="dropdown-menu dropdown__style">
                                                    <a class="dropdown-item" asp-controller="Home" asp-action="Login" style="color: black;">Личный кабинет</a>

                                                    <p class="dropdown-item">
                                                        <a asp-controller="Store" asp-action="UpBalance" style="color: dodgerblue">Пополнить</a>
                                                    </p>

                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout" style="color: black;">Выйти</a>
                                                </div>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            }
                            else
                            {
                                <li class="menu__item">
                                    <a asp-controller="Home" asp-action="Login">Войти</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>

            <section id="cloudj" class="cloudj">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-6 welcome">
                            <img src="~/img/CloudJ.png" class="cloudj">
                            <h1 class="welcome__h1">Добро пожаловать в CloudJ</h1>
                            <p class="welcome__p">
                                Откройте для себя мир облачных вычислений и узнайте, чем CloudJ
                                отличается
                                от других поставщиков облачных служб
                            </p>
                        </div>
                    </div>
                </div>
            </section>
    </header>
    <section id="intro" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 intro__h">Введение в облачные вычислений</div>
            </div>
            <div class="row ">
                <div class="col-lg-6 intro__p ">
                    Под облачными вычислениями подразумеваются вычислительные службы
                    (серверы,
                    хранилище, сеть, программное обеспечение), доступные через Интернет (облако) и предоставляемые
                    поставщиком, к примеру CloudJ. Например, чтобы не хранить личные документы и фотографии на
                    жестком диске персонального компьютера, большинство пользователей сейчас хранят их в Интернете.
                    Это и есть облачные вычисления.
                </div>
                <div class="col-lg-4 ml-auto intro__p">
                    <img src="~/img/web-hosting.png" alt="web-hosting">
                </div>
                <div class="col-lg-4 intro__p">
                    <img src="~/img/web-hosting.png" alt="web-hosting">
                </div>
                <div class="col-lg-6 intro__p ml-auto">
                    Как правило, платформы облачных вычислений, например CloudJ,
                    обходятся дешевле, лучше защищены, являются более надежными и гибкими, чем локальные серверы.
                    При использовании облака практически отсутствует риск повреждения, кражи и простоя оборудования
                    во время обслуживания.
                </div>

                <div class="col-lg-6 intro__p">
                    В CloudJ можно почти мгновенно масштабировать вычислительные ресурсы и
                    ресурсы хранилища в случае изменения требований. Кроме того, плата обычно взимается только за
                    используемые службы. Это обеспечивает определенное удобство и возможность управлять затратами,
                    чего практически невозможно достичь в локальной инфраструктуре.
                </div>
                <div class="col-lg-4 ml-auto intro__p">
                    <img src="~/img/web-hosting.png" alt="web-hosting">
                </div>
            </div>

        </div>

        </div>
    </section>
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <ul>
                        <li>
                            <a href="#"><img src="~/img/vk.png">Вконтакте</a>
                        </li>
                        <li> <a href="#"><img src="~/img/fb.png">Facebook</a></li>
                        <li> <a href="#"><img src="~/img/ok.png">OK.ru</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul>
                        <li><a href="#">Продукты</a></li>
                        <li><a href="#">Документация</a></li>
                        <li><a href="#">Примеры</a></li>
                        <li><a href="#">Связаться с нами</a></li>
                        <li><a href="#">Пользовательское соглашение</a></li>
                        <li><a href="#">Поддержка</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 ml-auto">
                    <img src="~/img/CloudJlogo.png" alt="CloudJlogo">
                </div>
            </div>
        </div>
    </footer>


</body>

</html>
