@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Login";
}

    <section class="intro intro__marg">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h2 сlass="lk__h2">Личный кабинет</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <img src="~/img/IVTeam.png" alt="IVTeam">
                </div>
                <div class="col-lg-9">
                    <h2 class="view__h3">IVTeam Production</h2>

                    <div id="summary">
                        <p class="collapse lk__p" id="collapseSummary">
                            Команда IVTeam усердно работает над созданием маркетплейса IT решений, чтобы
                            обеспечить каждому
                            пользователю бесценный опыт в использовании облачных решений.Команда IVTeam усердно работает
                            над
                            созданием маркетплейса IT решений, чтобы обеспечить каждому пользователю бесценный опыт в
                            использовании облачных решений.Команда IVTeam усердно работает над созданием маркетплейса IT
                            решений, чтобы обеспечить каждому пользователю бесценный опыт в использовании облачных
                            решений.

                        </p>
                        <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
                           aria-controls="collapseSummary"></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <p class="category__p">
                        <a href="#">Изменить профиль</a>
                        <a href="support.html">Обращение в службу поддержки</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <a href="#" class="lk__static align-items-center">Посмотреть личную статистику</a>
                </div>
            </div>
            <div class="row intro__marg">
                <div class="col-lg-4">
                    <h3 class="view__h3">Приобретенные решения</h3>
                </div>
                <div class="col-lg-2 ml-auto">
                    <label for="exampleSelect1" class="sort__marg">Сортировать по</label>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <select class="form-control" id="exampleSelect1">
                            <option>Дате</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-1 mb-1 product__h5">Oracle Database 12.1.0.2 Enterprise Edition</h5>
                        </div>
                        <img src="~/img/Large.png" class="mt-1 product__img" alt="Large">
                    </div>
                    <p class="product__p">Действует до:<br>02.12.2019</p>
                    <button type="button" class="btn btn-outline-primary rounded-0">Оставить отзыв</button>
                    <button type="button" class="btn btn-outline-primary rounded-0">Отказаться от подписки</button>
                    <button type="button" class="btn btn-primary rounded-0">Продлить подписку</button>
                    <button type="button" class="btn btn-primary rounded-0">Войти</button>
                </div>
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-1 mb-1 product__h5">Oracle Database 12.1.0.2 Enterprise Edition</h5>
                        </div>
                        <img src="~/img/Large.png" class="mt-1 product__img" alt="Large">
                    </div>
                    <p class="product__p">Действует до:<br>02.12.2019</p>
                    <button type="button" class="btn btn-outline-primary rounded-0">Оставить отзыв</button>
                    <button type="button" class="btn btn-outline-primary rounded-0">Отказаться от подписки</button>
                    <button type="button" class="btn btn-primary rounded-0">Продлить подписку</button>
                    <button type="button" class="btn btn-primary rounded-0">Войти</button>
                </div>
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-1 mb-1 product__h5">Oracle Database 12.1.0.2 Enterprise Edition</h5>
                        </div>
                        <img src="~/img/Large.png" class="mt-1 product__img" alt="Large">
                    </div>
                    <p class="product__p">Действует до:<br>02.12.2019</p>
                    <form action="add_plus.html">
                        <button type="submit" class="btn btn-outline-primary rounded-0">Добавить ссылки</button>
                    </form>
                    <form action="add_plan.html">
                        <button type="submit" class="btn btn-primary rounded-0">Создать план</button>
                    </form>
                </div>
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="add__center">
                        <a href="add.html"><img src="~/img/add.png" alt="add"></a>
                    </div>
                </div>

            </div>
            <div class="row intro__marg">
                <div class="col-lg-4">
                    <h3 class="view__h3">Размещенные решения</h3>
                </div>
                <div class="col-lg-2 ml-auto">
                    <label for="exampleSelect1" class="sort__marg">Сортировать по</label>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <select class="form-control" id="exampleSelect1">
                            <option>Дате</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-1 mb-1 product__h5">Quorum Enterprise Ethereum Alliance</h5>
                        </div>
                        <img src="~/img/Large3.png" class="mt-1 product__img" alt="Large">
                    </div>
                    <p class="product__p">Действует до:<br>02.12.2019</p>
                    <button type="button" class="btn btn-outline-primary rounded-0">Оставить отзыв</button>
                    <button type="button" class="btn btn-outline-primary rounded-0">Отказаться от подписки</button>
                    <button type="button" class="btn btn-primary rounded-0">Продлить подписку</button>
                    <button type="button" class="btn btn-primary rounded-0">Войти</button>
                </div>
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-1 mb-1 product__h5">Quorum Enterprise Ethereum Alliance</h5>
                        </div>
                        <img src="~/img/Large3.png" class="mt-1 product__img" alt="Large">
                    </div>
                    <p class="product__p">Действует до:<br>02.12.2019</p>
                    <button type="button" class="btn btn-outline-primary rounded-0">Оставить отзыв</button>
                    <button type="button" class="btn btn-outline-primary rounded-0">Отказаться от подписки</button>
                    <button type="button" class="btn btn-primary rounded-0">Продлить подписку</button>
                    <button type="button" class="btn btn-primary rounded-0">Войти</button>
                </div>
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-1 mb-1 product__h5">Quorum Enterprise Ethereum Alliance</h5>
                        </div>
                        <img src="~/img/Large3.png" class="mt-1 product__img" alt="Large">
                    </div>
                    <p class="product__p">Действует до:<br>02.12.2019</p>
                    <button type="button" class="btn btn-outline-primary rounded-0">Оставить отзыв</button>
                    <button type="button" class="btn btn-outline-primary rounded-0">Отказаться от подписки</button>
                    <button type="button" class="btn btn-primary rounded-0">Продлить подписку</button>
                    <button type="button" class="btn btn-primary rounded-0">Войти</button>
                </div>
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="add__center">
                        <a href="add.html"><img src="~/img/add.png" alt="add"></a>
                    </div>
                </div>

            </div>
            <div class="row intro__marg">
                <div class="col-lg-4">
                    <h3 class="view__h3">Избранные решения</h3>
                </div>
                <div class="col-lg-2 ml-auto">
                    <label for="exampleSelect1" class="sort__marg">Сортировать по</label>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <select class="form-control" id="exampleSelect1">
                            <option>Дате</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-1 mb-1 product__h5">Quorum Enterprise Ethereum Alliance</h5>
                        </div>
                        <img src="~/img/Large3.png" class="mt-1 product__img" alt="Large">
                    </div>
                    <p class="product__p">Действует до:<br>02.12.2019</p>
                    <button type="button" class="btn btn-outline-primary rounded-0">Оставить отзыв</button>
                    <button type="button" class="btn btn-outline-primary rounded-0">Отказаться от подписки</button>
                    <button type="button" class="btn btn-primary rounded-0">Продлить подписку</button>
                    <button type="button" class="btn btn-primary rounded-0">Войти</button>
                </div>
                <div class="col-lg-3 product" style="margin: 0;">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-1 mb-1 product__h5">Oracle Database 12.1.0.2 Enterprise Edition</h5>
                        </div>
                        <img src="~/img/Large.png" class="mt-1 product__img" alt="Large">
                    </div>
                    <p class="product__p">Действует до:<br>02.12.2019</p>
                    <button type="button" class="btn btn-outline-primary rounded-0">Оставить отзыв</button>
                    <button type="button" class="btn btn-outline-primary rounded-0">Отказаться от подписки</button>
                    <button type="button" class="btn btn-primary rounded-0">Продлить подписку</button>
                    <button type="button" class="btn btn-primary rounded-0">Войти</button>
                </div>


            </div>
        </div>
    </section>


@{
    var props = (await Context.AuthenticateAsync()).Properties.Items;
}

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var (key, value) in props)
    {
        <dt>@key</dt>
        <dd>@value</dd>
    }
</dl>

