
@{
    ViewData["Title"] = "Support";
}

    <section class="intro intro__marg">
        <div class="container">
            <h1>С чем вам нужна помощь?</h1>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row support__btn">
                        <div class="col-lg-7 "><a data-toggle="tab" href="#view">Техническая документация</a></div>
                        <div class="col-lg-1 ml-auto" style="color: #1F78FF">></div>
                    </div>
                    <div class="row support__btn">
                        <div class="col-lg-7"><a data-toggle="tab" href="#buy">Как оплатить</a></div>
                        <div class="col-lg-1 ml-auto" style="color: #1F78FF">></div>
                    </div>
                    <div class="row support__btn ">
                        <div class="col-lg-7 "><a data-toggle="tab" href="#account">Мой аккаунт</a></div>
                        <div class="col-lg-1 ml-auto" style="color: #1F78FF">></div>
                    </div>
                    <div class="row support__btn">
                        <div class="col-lg-7 ">
                            <a data-toggle="tab" href="#support">Связаться со службой поддержки</a>
                        </div>
                        <div class="col-lg-1 ml-auto " style="color: #1F78FF">></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show view__box" id="view">
                            <p>
                                Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка,
                                верстка, і друку замість англійської підкреслити елементи дизайну над змістом. Це також
                                називається заповнювач ( або наповнювач) текст. Це зручний інструмент для макетів. Це
                                допомагає намітити візуальні елементи в документ або презентацію, наприклад, друкарня,
                                шрифт, або макет. Lorem Ipsum в основному частиною латинського тексту за класичною автор
                                і філософа Цицерона. Це слова і букви були змінені додаванням або видаленням, так
                                навмисно роблять його зміст безглуздо, це не є справжньою, правильно чи зрозумілою
                                Латинської більше. У той час як Lorem Ipsum все ще нагадує класичну латину, він
                                насправді не має ніякого значення. Як текст Цицерона не містить літери K, W, або Z, чужі
                                латина, ці та інші часто вставляється випадково імітувати типографський Зовнішність
                                європейських мовах, як і орграфов будуть знайдено в оригіналі. У професійному контексті
                                це часто буває, що приватні або корпоративні клієнти Corder публікацію, які будуть
                                зроблені і представлені з фактичний зміст все ще не готовий. Подумайте про прес- блозі,
                                що наповнилися змістом погодинна в день буде жити. Однак рецензенти схильні
                                відволікатися на зрозумілій змісту, скажімо, випадкового тексту, скопійованого з газети
                                або в інтернеті., Швидше за все, зосередитися на тексті, не звертаючи уваги на макет і
                                його елементів. Крім того, випадковий текст ризикує бути ненавмисно гумористичні або
                                образливим, неприйнятним ризиком в корпоративному середовищі. Lorem Ipsum і його
                                численні варіанти були використані з початку 1960 -х років, і цілком імовірно, починаючи
                                з шістнадцятого століття.
                            </p>
                        </div>
                        <div class="tab-pane fade view__box" id="buy">
                            <p>Карточка, ну алЁ.</p>
                        </div>
                        <div class="tab-pane fade" id="support">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Тема вопроса</label>
                                        <input type="theme" class="form-control" id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Введите тему вопроса"
                                               style="width: 370px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Сообщение</label>
                                        <input type="message" class="form-control" id="exampleInputPassword1"
                                               placeholder="Введите описание проблемы"
                                               style="width: 370px; height: 200px;">
                                    </div>
                                    <div class="row col__plan align-items-center">
                                        <div class="col-lg-2 plan__p">Выберите изображение</div>
                                        <div class="col-lg-5 ml-auto">
                                            <button type="button"
                                                    class="btn btn-primary rounded-0 plan__btn">
                                                Загрузить
                                            </button>
                                        </div>
                                    </div>
                                    <button type="submit" class="btns btn-primary rounded-0" style="margin-top: 30px;">Отправить</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </sectio>

