
@{
    ViewData["Title"] = "Transaction";
}

    <section class="intro intro__marg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1>Транзакции</h1>
                </div>
                <div class="col-lg-2 ml-auto">
                    <label for="exampleSelect1" class="sort__marg">Сортировать по</label>

                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <select class="form-control" id="exampleSelect1">
                            <option>Дате</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Покупатель</th>
                        <th scope="col">Продавец</th>
                        <th scope="col">Решение</th>
                        <th scope="col">Срок</th>
                        <th scope="col">Время</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Балашов Алексей</td>
                        <td>IVTeam Production</td>
                        <td>CloudBase Lite 1.0.3</td>
                        <td>3 мес</td>
                        <td>29.11.19г. в 22:34</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Балашов Алексей</td>
                        <td>IVTeam Production</td>
                        <td>CloudBase Lite 1.0.3</td>
                        <td>3 мес</td>
                        <td>29.11.19г. в 22:34</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Балашов Алексей</td>
                        <td>IVTeam Production</td>
                        <td>CloudBase Lite 1.0.3</td>
                        <td>3 мес</td>
                        <td>29.11.19г. в 22:34</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>