
@{
    ViewData["Title"] = "UserDb";
}

<section class="intro intro__marg">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Купленные</th>
                    <th scope="col">Размещенные</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Балашов Алексей</td>
                    <td>2</td>
                    <td>3</td>
                    <td height="50" width="130">
                        <form>
                            <button type="submit" class="btn__edit">Редактировать</button>
                        </form>
                    </td>
                    <td height="50" width="130">
                        <form>
                            <button type="submit" class="btn__edit" style="background: #FFD8D8;">Удалить</button>
                        </form>
                    </td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Балашов Алексей</td>
                    <td>2</td>
                    <td>3</td>
                    <td height="50" width="130">
                        <form>
                            <button type="submit" class="btn__edit">Редактировать</button>
                        </form>
                    </td>
                    <td height="50" width="130">
                        <form>
                            <button type="submit" class="btn__edit" style="background: #FFD8D8;">Удалить</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Балашов Алексей</td>
                    <td>2</td>
                    <td>3</td>
                    <td height="50" width="130">
                        <form>
                            <button type="submit" class="btn__edit">Редактировать</button>
                        </form>
                    </td>
                    <td height="50" width="130">
                        <form>
                            <button type="submit" class="btn__edit" style="background: #FFD8D8;">Удалить</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
