
@{
    ViewData["Title"] = "AddLink";
}

@using CloudJ.Contracts.DTOs.SolutionDtos.Solution
@model CloudJ.Contracts.DTOs.SolutionDtos.Solution.NewSolutionLinkDto

    <section class="intro intro__marg">
        <div class="container">

            
            <div class="row">
                <div class="col-lg-6">
                    <form asp-controller="Product" asp-action="AddLink">
                        <fieldset>
                            <div class="form-group">
                                
                                <div>

                                    <div class="input-group">
                                        <input hidden="true" asp-for="SolutionId" value="@Model.SolutionId" />
                                        <input asp-for="Name" type="text" class="form-control" placeholder="Название ссылки" value="" />
                                        <input asp-for="Url" type="text" class="form-control" placeholder="Url" value="" />
                                        <button type="submit" class="input-group-addon btn btn-outline-primary rounded-0">Добавить</button>
                                    </div>
                                </div>
                                <label for="exampleInputPassword1" style="margin-top: 10px;">Список всех ссыллок</label>
                                <table>
                                    <colgroup>
                                        <col span="2">
                                        <col>
                                    </colgroup>
                                    <tr>
                                        <th>Название</th>
                                        <th>Ссылка</th>
                                        <th>Удаление</th>
                                    </tr>
                                    @foreach (SolutionLinkDto l in ViewBag.Links)
                                    {
                                    <tr>
                                        <td>@l.Name</td>
                                        <td><a href="@l.Url">@l.Url</a></td>
                                        <td><a href="~/Product/deleteLink?solutionid=@Model.SolutionId&id=@l.Id">Удалить</a></td>
                                    </tr>
                                    }

                                    
                                </table>
                            </div>
                        </fieldset>
                    </form>

                </div>


            </div>

        </div>
    </section>
