@model IdentityServer.Objects.LogoutViewModel


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityServer4</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/signout-redirect.js"></script>
</head>
<body>

    <div class="logout-page">
        <div class="page-header">
            <h1>Logout</h1>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p>Would you like to logout of IdentityServer?</p>
                <form asp-action="Logout">
                    <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                    <fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary">Yes</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>